<!-- Counter -->
<section class="counter-main pb-6 bg-navy" style="background-image: url(static/images/bg/counterbg.jpg)">
    <div class="container">
      <div class="counter text-center">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="counter-item bg-lgrey">
              <i class="fa fa-users white bg-navy mb-1"></i>
              <h3 class="value mb-0 navy">100</h3>
              <h4 class="m-0">Happy Customers</h4>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="counter-item bg-lgrey">
              <i class="fa fa-plane mb-1 white bg-navy"></i>
              <h3 class="value mb-0 navy">50</h3>
              <h4 class="m-0">Amazing Tours</h4>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="counter-item bg-lgrey">
              <i class="fa fa-chart-bar  white bg-navy mb-1"></i>
              <h3 class="value mb-0 navy">3472</h3>
              <h4 class="m-0">In Business</h4>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="counter-item bg-lgrey">
              <i class="fa fa-support  white bg-navy mb-1"></i>
              <h3 class="value mb-0 navy">523</h3>
              <h4 class="m-0">Support Cases</h4>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- End Counter -->