<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}

    <h3>URL - http://127.0.0.1:8000/destination_admin/</h3>

    <h3>Destination model form</h3>
    <form action="" method="post">
        {% csrf_token %}
        
        <label for="destination_name">Name: </label><br>
        <input type="text" id ="destination_name" name="destination_name" required><br>
        <label for="destination_state">State: </label><br>
        <input type="text" id ="destination_state"  name="destination_state" required> <br>
        <label for="destination_description">State: </label><br>
        <input type="text" id ="destination_description" name="destination_description" required> <br>
        <label for="destination_map_link">Map link: </label><br>
        <input type="text" id ="destination_map_link" name="destination_map_link"  required><br>
        <button type="submit">Submit</button>
    </form>

    {% else %}
    <h3>Please login with admin account to access this page !</h3>
    <a href="{% url 'admin:index' %}">Go to Admin</a>
    {% endif %}

</body>
</html>