{% extends "base.html" %}
{% load static %}
{% block title %}Updates{% endblock title %}
{% block content %}

<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url({% static "images/bg/bg8.jpg" %});">
  <div class="breadcrumb-outer pt-18">
    <div class="container">
      <div class="breadcrumb-content d-md-flex align-items-center pt-10">
        <h2 class="pb-2">Updates</h2>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Updates</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<!-- blog starts -->
<section class="blog blog-fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="listing-inner">
          <div class="list-results d-flex align-items-center justify-content-between">
            <div class="list-results-sort">
              <p class="m-0">Showing {{page_obj.number}} of {{ page_obj.paginator.num_pages }} Pages</p>
            </div>
            <div class="click-menu d-flex align-items-center justify-content-between">
              {% comment %} 
                <div class="change-list f-active mr-2"><a href="blog-list.html"><i class="fa fa-bars"></i></a></div> 
              {% endcomment %}
              {% comment %} 
                <div class="change-grid"><a href="blog-grid.html"><i class="fa fa-th"></i></a></div> 
              {% endcomment %}
              <div class="sortby d-flex align-items-center justify-content-between ml-3">
                <form method="get" id="orderForm" action="{% url 'blogs' %}" onchange="submitForm()">
                  <select class="niceSelect" name="order_by" id="order_by">
                    {% comment %} <option value="1">Sort By</option> {% endcomment %}
                    <option value="asc" {% if request.GET.order_by == 'asc' %}selected{% endif %}>Publish Date: Ascending</option>
                    <option value="desc" {% if request.GET.order_by == 'desc' %}selected{% endif %}>Publish Date:
                      Descending</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
          <!--Blog List -->
          {% for blog in blogs %}
          <div class="blog-full d-flex justify-content-around mb-4">
            <div class="row {% cycle '' 'flex-row-reverse' %} w-100">
              <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                <div class="blog-image">
                  <a href="{% url "blog-detail" blog.id %}" style="background-image: url({{blog.cover_image.url}});"></a>
                </div>
              </div>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <div class="blog-content">
                  <span class="h-date pink mb-1 font-weight-light d-block">{{blog.published_date}}</span>
                  <h3 class="mb-2"><a href="{% url "blog-detail" blog.id %}" class="">{{blog.title}}</a></h3>
                  <p class="date-cats mb-0 border-t pt-2 pb-2">
                    {% comment %} <a href="#" class="mr-2"><i class="fa fa-file"></i>Categories</a> {% endcomment %}
                    <a href="#" class=""><i class="fa fa-user"></i>&nbsp;&nbsp;Author - &nbsp;{{blog.author}}</a>
                  </p>
                  <p class="mb-2 border-t pt-2">{{blog.description|truncatewords_html:30}}</p>
                  <a href="{% url "blog-detail" blog.id %}" class="grey font-weight-light">Read This <i class="fa fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


          <div class="pagination-main text-center">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"
                    aria-hidden="true"></i></a></li>
              {% endif %}

              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                {% else %}
                  {% if request.GET.order_by == 'desc' %}
                    <li><a href="?page={{i}}&amp;order_by=desc">{{i}}</a></li>
                  {% else %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog Ends -->

{% endblock content %}

{% block js %}
<script>
  // submit the get form for ordering the blogs
  function submitForm() {
    document.getElementById("orderForm").submit();
  }
</script>
{% endblock js %}