<!-- footer starts -->
<footer style="background-image: url(static/images/bg/footerbg.jpg)" class="pt-10 ">
    <div class="footer-upper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links">
                        <img src="static/images/safarLogo.png" height="140px" width="300px" alt="" />
                        <p class="mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links">
                        <h4 class="white">Company</h4>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links">
                        <h4 class="white">Legal</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Refund &amp; Cancellation</a></li>
                            <!-- <li><a href="#">Feedback</a></li>
                            <li><a href="#">Our Service</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links">
                        <h4 class="white">Contact</h4>
                        <ul>
                            <li><strong>Phone No:</strong> +91-252-254-2542</li>
                            <li><strong>Location:</strong> Hariyana,India </li>
                            <li><strong>Email:</strong> info@safarcapture.com</li>
                        </ul>

                        {% comment %}

**NOTE - Django template rendering does not care about the HTML, it cares about the {% %}

                        <!-- <div class="newsletter-form form-main">
                            <form method="post" action="{{ url_for('main.footer_contact_form') }}"
                                enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="input-box input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder=" Enter Full Name"
                                            required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-box input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input type="Number" class="form-control" placeholder="Enter Phone no."
                                            required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-box input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Enter Email " required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-box input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Write your message.."
                                            required />
                                    </div>
                                </div>
                                <input type="submit" class="nir-btn mt-2 w-100" value="Submit" />
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-2 pb-2">
        <div class="container">
            <div class="copyright-inner d-md-flex align-items-center justify-content-between">
                <div class="copyright-text">
                    <p class="m-0 white">Copyright © 2023-2024 ByteX Technologies. <br>All rights reserved.</p>
                </div>
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</footer>
<!-- footer ends -->

{% endcomment %}