
{% extends "base.html" %}
{% load static %}
{% block title %}Gallery{% endblock title %}

{% block content %}

    <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0" style="background-image: url({% static "images/bg/bg7.jpg" %});">
      <div class="breadcrumb-outer pt-18">
        <div class="container">
          <div class="breadcrumb-content d-md-flex align-items-center pt-10">
            <h2 class="pb-2">Gallery</h2>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->


    <!-- Gallery starts -->
    <div class="gallery pt-10 pb-6">
        <div class="container">
            <div class="row mt-3">
                
                {% for img in images %}
                    {% if img == images.0 or img == images.1 %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="gallery-item mb-4">
                                <div class="gallery-image">
                                    <img src="{{img.image.url}}" alt="image">
                                    <div class="overlay"></div>
                                </div>
                                <div class="gallery-content">
                                    <ul>
                                        <li><a href="{{img.image.url}}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="gallery-item mb-4">
                                <div class="gallery-image">
                                    <img src="{{img.image.url}}" alt="image">
                                    <div class="overlay"></div>
                                </div>
                                <div class="gallery-content">
                                    <ul>
                                        <li><a href="{{img.image.url}}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="pagination-main text-center mt-2">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"
                    aria-hidden="true"></i></a></li>
              {% endif %}

              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                {% else %}
                  {% if request.GET.order_by == 'desc' %}
                    <li><a href="?page={{i}}&amp;order_by=desc">{{i}}</a></li>
                  {% else %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
              {% endif %}
            </ul>
          </div>
    </div>
    <!-- Gallery Ends -->


{% endblock content %}
<!-- *Scripts* -->
{% block js %}
<script src="{% static "js/custom-accordian.js" %}"></script>
{% endblock js %}