{% extends "base.html" %}
{% load static %}
{% block title %}Terms &amp; Conditions{% endblock title %}

{% block content %}

<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url({% static "images/bg/bg8.jpg" %});">
  <div class="breadcrumb-outer pt-18">
    <div class="container">
      <div class="breadcrumb-content d-md-flex align-items-center pt-10">
        <h2 class="pb-2">terms &amp; conditions</h2>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms &amp; Conditions</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<section class="blog trending destination-b">
  <div class="container">
    <div class="desc-box">
      <h5 class="mb-1">Terms &amp; Conditions</h5>
      <ul>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;All photos and videos created during SafarCapture's trips,
          whether by content creators or clients, are the exclusive property of SafarCapture. </li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Only SafarCapture Experiences can use this digital content for advertising across various media platforms. Any use for advertising or commercial</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;purposes by others requires explicit permission from SafarCapture.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Full payment of the trip cost must be completed before the trip
          commences. Failure to make timely payments may result in the cancellation of the trip.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Transfer of bookings is not permitted. Only individuals whose
          names were confirmed at the time of booking are allowed to travel.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;No refunds will be provided for any inclusions not availed by the
          client.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Travelers are responsible for their luggage and belongings. The
          management is not liable for any damage or missing items during the tour.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Missing the scheduled departure without prior notice makes the
          traveler ineligible for any refunds.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;The itinerary may be altered for factors like weather and
          road conditions, and participant's physical abilities to ensure safety and general well-being.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Participants are advised to arrange their insurance for sickness,
          accidents, or losses incurred due to theft or other reasons.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;In case of injury or illness during the tour, external evacuation
          or transport services may be engaged, and any additional costs are the responsibility of the
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;participant ortheir family.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;SafarCapture is not responsible for delays or alterations in the
          program due to natural hazards, accidents, weather conditions, political closures, or other
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; unforeseen incidents.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Misconduct or indiscipline is not tolerated. SafarCapture
          reserves the right to take appropriate action, including verbal warnings, mediation, or removal
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from the tour at the traveler's expense.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Drinking and smoking are strictly prohibited during the tour due
          to health and safety concerns. Physical fitness is essential for tours involving activities &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;like trekking and
          camping at high altitudes.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;SafarCapture and its affiliates are not liable for accidents,
          injuries, illnesses, loss of life, or property damage during the tour. Participants should be aware &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of the
          inherent risks associated with adventure trips.</li>
        <li><i class="fa fa-check pink mr-1"></i>&nbsp;Transfer of bookings is not permitted. Only individuals whose
          names were confirmed at the time of booking are allowed to travel.</li>
      </ul>
    </div>
  </div>
</section>


{% endblock %}