{% extends "base.html" %}
{% load static %}
{% block title %}Terms &amp; Conditions{% endblock title %}

{% block content %}

<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url({% static "images/bg/bg8.jpg" %});">
  <div class="breadcrumb-outer pt-18">
    <div class="container">
      <div class="breadcrumb-content d-md-flex align-items-center pt-10">
        <h2 class="pb-2">terms &amp; conditions</h2>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms &amp; Conditions</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<section class="blog trending destination-b">
  <div class="container">
      <div class="contact-info">
          <h3 class="">Terms &amp; Conditions</h3>
          <p>Welcome to SafarCapture. All correspondence(s) in respect of Tours/Travel Service bookings should be addressed to M/s. 
            Thetrippers.co.in . If you transact on the Website, you shall be subject to the applicable policies, as displayed for such transaction.
            Your usage of this Website constitutes your binding obligation and agreement to all such terms, conditions, and notices which are subject
             to revision without any notice by TT.</p>
            <p>Any usage of the Website is subject to the following Terms of Use:</p>
          <h4>Payments</h4>
          <p>For all the services contracted, certain advance costs should be made to reserve the booking, on a confirmed basis &amp; the balance 
            amount can be paid either before your departure from your Location or upon arrival At your Location but certainly before the beginning 
            of the services provided. Management personnel hold the right to decide upon the amount to be paid as advance payment, based on the 
            nature of the service &amp; the time left for the commencement of the service.</p>
          <p>Apart from the information mentioned above, in some circumstances like Special Trips/Journeys, hotels or resorts bookings during the peak
             season (X-Mas, New Year), complete payment has to be made in advance.</p>

          <h4>Mode of Payment</h4>
          <p>All Payments need to be made under our bank account or through various Digital Payments like UPI, and credit/debit cards.</p>
          <br/>
          <h4>Cancellation and Refund Policy</h4>
          <p>In the occurrence of cancellation of a tour/travel service due to any avoidable/unavoidable circumstance, we must be notified about the same
             in writing.</p>
          <p>For the Christmas and new year period i.e from 20 Dec to 05 Jan the payment is non-refundable. In case you cancel the trip after the beginning, a refund would be confined to a limited amount only which too would depend on the amount that we would be able to recover from the hoteliers/ contractors we patronize. For unused hotel accommodation, chartered transportation &amp; missed meals etc. we do not bear any responsibility to refund any amount.</p>
          
          <div class="alert alert-info" role="alert">
            <strong>Note</strong>
            <p>Cancellation will be accepted on all working days, except Sunday, Any cancellation sent on Sundays will be evaluated
              on the next working day (Monday). The applicable refund amount will be processed within 10 business days</p>
          </div>
          <br/>
          <h4>Cancellation Policy for Wildlife Safaris</h4>
          <p>All the wildlife safaris reserved in any of the Indian Wildlife National Park/Sanctuaries are non-refundable. Even date shift requests will be considered as cancellations and no payment will be refunded/adjusted against it.</p>

          <h4>Our Liabilities &amp; Limitations</h4>
          <div class="alert alert-info" role="alert">
            <strong>Note</strong>
            <p>After the finalization of the Tour/ service cost, if there are any hikes in entrance fees of monuments/museums, Taxes, fuel costs or guide expenses – by the Govt of India, the same would be charged as extra.
            </p>
          </div>
          <p><a href="{% url "index" %}">Safarcapture.in</a> the capacity of agent for the hotels, airlines, transporters, railways &amp; contractors providing other services &amp; all exchange orders, receipts, contracts &amp; tickets issued by us are issued subject to terms &amp; conditions under which these services are provided by them.</p>
          <p>All itineraries are reference itineraries, intended to give you a broad idea of the likely trip schedule. Multiple factors such as weather, road conditions, the physical ability of the participants etc. may dictate itinerary changes either before the tour or while on the trail. We reserve the right to alter any schedule in the interest of the trip participants’ safety, comfort &amp; general well being.</p>
          <p>Our costs are based on the prevailing rates as negotiated by us with the hotels, airlines etc. Hotels and Airlines retain the right to alter the costs without notice. In case of such changes, the costs quoted before the modification can be revised by us according to the modifications by hotels or airlines. All hotel bookings are based on the usual check-in and check-out time of the hotels until indicated in the itinerary.</p>
          <p>We shall not be responsible for any delays &amp; alterations in the schedule or expenses incurred – directly or indirectly – due to natural hazards, flight cancellations, accidents, breakdown of machinery or equipment, breakdown of transport, weather, sickness, landslides, political closures or any untoward incidents.</p>
          <p>We shall not be responsible for any loss, injury or damage to person, property, or otherwise in connection with any accommodation, transportation or other services, resulting – directly or indirectly – from any act of GOD, dangers, fire, accident, breakdown in machinery or equipment, breakdown of transport, wars, civil disturbances, strikes, riots, thefts, pilferages, epidemics, medical or custom department regulations, defaults, or any other causes beyond our control.</p>
          <p>We do not have any insurance policy covering the expenditures for accidents, sickness, loss due to theft, or any other reasons. Visitors are advised to seek such insurance arrangements in their home country. All baggage &amp; personal property/s at all times are at the client’s risk.</p>
          <div class="alert alert-info" role="alert">
            <strong>Note</strong>
            <p>We will not be responsible for any costs arising out of unforeseen circumstances like landslides, roadblocks, bad weather, etc.
            </p>
          </div>

          <h4>Intellectual Property Rights</h4>
          <p>All logos, trademarks, brands, registered marks (“Marks”) appearing in <a href="{% url "index" %}">Safarcapture.in</a> are the properties either owned or used under license by the Company and/or its associates. All the rights accruing from the same, statutory or otherwise and intellectual property rights wholly vest with the Company / its associates. All rights not otherwise claimed under this Agreement or by the Company / its associates are hereby reserved.</p>
          <p>The access to the website does not confer upon the User any license or right to use these marks and therefore the use of these marks in any form or manner whatsoever is strictly prohibited. Any violation of the above would constitute an offence under the prevailing laws of India.</p>
      </div>
  </div>
</section>



{% endblock %}