<!-- Fav destination Starts -->
<section class="trending destination pb-6 pt-9" style="background-image: url(static/images/bg/counterbg.jpg);">
    <div class="container">
        <div class="section-title section-title-w text-center mb-5 pb-2 w-50 mx-auto">
            <h2 class="m-0 white">Find Your <strong>Favourite Destination</strong></h2>
            <p class="mb-0 white">Travel has helped us to understand the meaning of life and it has helped us become
                better
                people. Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="trend-box">
            <div class="price-navtab text-center mb-4">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#historical">Historical</a></li>
                    <li><a data-toggle="tab" href="#weekend">Weekend</a></li>
                    <li><a data-toggle="tab" href="#holidays">Holidays</a></li>
                    <li><a data-toggle="tab" href="#special">Special Tour</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="historical" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Taj Mahal, Agra.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Taj Mahal, Agra</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 852 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Agra.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Jaipur City Palace, Rajasthan.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Jaipur City Palace, Rajasthan</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 615 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Rajasthan.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-12 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Hampi, Karnataka.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">25 Reviews</span>
                                        </div>
                                        <h4><a href="#">Hampi, Karnataka</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 926 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Karnataka.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="weekend" class="tab-pane fade">
                    <div class="row">
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Udaipur, Rajasthan.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Udaipur, Rajasthan</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 852 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i>Rajasthan.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Coorg, Karnataka.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Coorg, Karnataka</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 615 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i>Karnataka.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-12 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/goa.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">25 Reviews</span>
                                        </div>
                                        <h4><a href="#">Goa</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 926 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Goa.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="holidays" class="tab-pane fade">
                    <div class="row">
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Andaman and Nicobar Islands.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Andaman and Nicobar Islands</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 852 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Andaman</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Shimla and Manali, Himachal Pradesh.jpg"
                                        alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Shimla and Manali</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 615 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i>Himachal Pradesh.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-12 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Kerala Backwaters.jpeg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">25 Reviews</span>
                                        </div>
                                        <h4><a href="#">Kerala Backwaters</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 926 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Kerala.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="special" class="tab-pane fade">
                    <div class="row">
                        <div class=" col-lg-4 col-md-12 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/goa.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">25 Reviews</span>
                                        </div>
                                        <h4><a href="#">Goa</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 926 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Goa.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Shimla and Manali, Himachal Pradesh.jpg"
                                        alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Shimla and Manali</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 615 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i>Himachal Pradesh.</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 mb-4">
                            <div class="trend-item">
                                <div class="trend-image">
                                    <img src="static/images/trending/Andaman and Nicobar Islands.jpg" alt="image">
                                </div>
                                <div class="trend-content-main">
                                    <div class="trend-content">
                                        <div class="rating-main d-flex align-items-center pb-1">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <span class="ml-2">38 Reviews</span>
                                        </div>
                                        <h4><a href="#">Andaman and Nicobar Islands</a></h4>
                                        <p class="mb-0"><i class="fa fa-eye mr-1"></i> 852 Visiting Places <i
                                                class="fa fa-map-marker mr-1 ml-3"></i> Andaman</p>
                                    </div>
                                    <div class="trend-last-main">
                                        <p class="mb-0 trend-para">A wonderful little cottage right on the seashore -
                                            perfect for
                                            exploring.</p>
                                        <div class="trend-last d-flex align-items-center justify-content-center">
                                            <p class="mb-0 white d-flex align-items-center">View Details</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- Fav destination Ends -->