{% extends "base_admin.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}

    <!-- header starts -->
    <header class="main_header_area headerstye-1">
        
      <!-- Navigation Bar -->
      <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
          <div class="container">
            <div
              class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2"
            >
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                  <img src="static/images/safarLogoWhite.png" height="60px" width="180px" alt="image" />
                <img src="static/images/safarLogo2.png" height="60px" width="180px" alt="image" />
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div
                class="navbar-collapse1 d-flex align-items-center"
                id="bs-example-navbar-collapse-1"
              >
                <ul class="nav navbar-nav" id="responsive-menu">
                  <li class="active pr-2">
                    <a href="#">Home</a>
                  </li>
                  <li class="pr-2"><a href="about.html">About Us</a></li>
                  <li class="submenu dropdown pr-2">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Packages <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li><a href="package.html">Kasol Kheerganga Trek</a></li>
                      <li><a href="package1.html">Lahaul Atal Tunnel with River Rafting</a></li>
                      <li><a href="package2.html">Manali Solang Kasol Tosh </a></li>
                      <li><a href="package3.html">Manali Solang Kasol </a></li>
                      <li><a href="package4.html">Manali Jispa Kasol </a></li>
                      <li><a href="package5.html">Kedarnath Luxury</a></li>
                      <li><a href="package6.html">Tirthan Valley</a></li>
                    </ul>
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="destin#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Destination
                      <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="destination.html">Shimla</a>
                        </li>
                    <li>
                      <a href="destination.html">Taj Mahal</a>
                    </li>
                    <li>
                      <a href="destination.html">Goa Beaches </a>
                    </li>
                    <li>
                      <a href="destination.html">Jaipur</a>
                    </li>
                    <li>
                      <a href="destination.html">Leh-Ladakh</a>
                    </li>
                    <li>
                      <a href="destination.html">Darjeeling</a>
                    </li>
                    
              
                  </ul>
              
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="updates.html"
                  
                      >Updates </a>
                   
                  </li>
                
                  <li ><a href="contact.html">Contact Us</a></li>
                </ul>
                <!-- <a href="#" class="cart-icon d-flex align-items-center ml-1"><i class="icon-basket-loaded"></i><span class="cart-label">3</span></a> -->
              </div>
              <!-- /.navbar-collapse -->

              <div class="register-login">
                <a
                  href="#"
                  class="mr-2"
                  data-toggle="modal"
                  data-target="#register"
                  ><i class="icon-user mr-1"></i> Register</a
                >
                <a href="#" data-toggle="modal" data-target="#login"
                  ><i class="icon-login mr-1"></i> Login</a
                >
              </div>

              <div id="slicknav-mobile"></div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
      <!-- Navigation Bar Ends -->
    </header>
    <!-- header ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-2" style="background-image: url(static/images/bg/bg8.jpg);">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Dashboard -->
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard-sidebar">
                            <div class="profile-sec">
                                <div class="author-news mb-3">
                                    <div class="author-news-content text-center p-3">
                                        <div class="author-thumb mt-0">
                                            <img src="static/images/team/img1.jpg" alt="author">
                                        </div>
                                        <div class="author-content pt-2 p-0">
                                            <h3 class="mb-1 white"><a href="#" class="white">Admin Name</a></h3>
                                            <p class="detail"><i class="fa fa-map-marker"></i> Admin address</p>
                                            <p class="detail"><i class="fa fa-phone"></i> +91 90247 9851</p>
                                        
                                        </div>
                                    </div>
                                    <div class="dot-overlay"></div>
                                </div>
                            </div>
                            <!-- Responsive Navigation Trigger -->
                            <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>  
                            <div class="dashboard-nav">
                                <div class="dashboard-nav-inner">
                                    <ul>
                                        <li ><a href="dashboard-main.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                                        <li><a href="dashboard-booking-history.html"><i class="fa fa-list-ul"></i>Booking History</a></li>
                                        <li><a href="dashboard-package-enquiry.html"><i class="fa fa-list-ul"></i>Package Queries</a></li>
                                        <li class="active"><a href="dashboard-customer-enquiry.html"><i class="fa fa-list-ul"></i>Customer Queries</a></li>
                                        <li><a href="dashboard-user-details.html"><i class="fa fa-list-ul"></i>User Details</a></li>
                                        <!-- <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-user"></i> Profile</a></li>                     
                                        <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li> -->
                                        <!-- <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li> -->
                                        <li><a href="dashboard-add-package.html"><i class="sl sl-icon-plus"></i> Add package</a></li>
                                        <li><a href="dashboard-add-destination.html"><i class="sl sl-icon-plus"></i> Add Destination</a></li>
                                        
                                        <li><a href="dashboard-login.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                      <div class="col-lg-9 col-md-12 col-xs-12">
                          <div class="dashboard-list-box with-icons">
                              <div class="dashboard-title">
                                  <h4 class="mb-0">Customer Enquiry</h4>
                                  <p class="mb-0"></p>
                              </div>
                              <div class="table-responsive table-desi">
                                  <table class="basic-table table table-hover">
                                      <thead>
                                          <tr>
                                              
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Phone</th>
                                              <th>Email</th>
                                              <th>Message</th>
                                              
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>Sham 
                                              </td>
                                              <td>Thakur 
                                            </td>
                                              <td><span>8080749553</span>
                                              </td>
                                              <td>Sham@gmail.com</td>
                                              
                                              <td>Suggest best for Manali</td>                                                
                                          </tr>
                                          
                                          <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                        <tr>
                                            <td>Sham 
                                            </td>
                                            <td>Thakur 
                                          </td>
                                            <td><span>8080749553</span>
                                            </td>
                                            <td>Sham@gmail.com</td>
                                            
                                            <td>Suggest best for Manali</td>                                                
                                        </tr>
                                       
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>  
                
                
            </div>    
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->

   
<!--end login section -->

{% endblock content %}

{% block js %}
{% endblock js %}