{% extends "base_admin.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}


    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-2" style="background-image: url(static/images/bg/bg8.jpg);">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Dashboard -->
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    {% include "./side_section.html" %}
                      <div class="col-lg-9 col-md-12 col-xs-12">
                          <div class="dashboard-list-box with-icons">
                              <div class="dashboard-title">
                                  <h4 class="mb-0">Customer Enquiry</h4>
                                  <p class="mb-0"></p>
                              </div>
                              <div class="table-responsive table-desi">
                                  <table class="basic-table table table-hover">
                                      <thead>
                                          <tr>
                                              <th>#ID</th>
                                              <th>Name</th>
                                              <th>Email</th>
                                              <th>Phone</th>
                                              <th>Destination</th>
                                              <th>Adults-Children</th>
                                              <th>Message</th>
                                              <th>Status</th>
                                              <th>Edit</th>
                                              <th>Delete</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        {% for query in enquries %}
                                          <tr>
                                              <td>{{forloop.counter}}</td>
                                              <td>{{query.name}}</td>
                                              <td>{{query.email}}</td>
                                              <td><span>{{query.phone}}</span></td>
                                              <td>{{query.destination}}</td>
                                              <td>{{query.total_adults}}-{{query.total_childrens}}</td>                                                
                                              <td>{{query.message}}</td> 
                                              <td><span class="badge bg-{% if query.status == "pending" %}warning{% else %}success{% endif %}">{{query.status}}</span></td>
                                              <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                          </tr>
                                        {% endfor %}                 
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <div class="pagination-main text-center mt-2">
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                              <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"
                                    aria-hidden="true"></i></a></li>
                              {% endif %}
                
                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                  <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                  {% if request.GET.order_by == 'desc' %}
                                    <li><a href="?page={{i}}&amp;order_by=desc">{{i}}</a></li>
                                  {% else %}
                                    <li><a href="?page={{i}}">{{i}}</a></li>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                              {% endif %}
                            </ul>
                          </div>
                      </div>  
                      
            </div>    
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->
   
<!--end login section -->

{% endblock content %}

{% block js %}
{% endblock js %}