{% extends "base_admin.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
    <!-- header starts -->
    <header class="main_header_area headerstye-1">
        
      <!-- Navigation Bar -->
      <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
          <div class="container">
            <div
              class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2"
            >
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                  <img src="static/images/safarLogoWhite.png" height="60px" width="180px" alt="image" />
                <img src="static/images/safarLogo2.png" height="60px" width="180px" alt="image" />
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div
                class="navbar-collapse1 d-flex align-items-center"
                id="bs-example-navbar-collapse-1"
              >
                <ul class="nav navbar-nav" id="responsive-menu">
                  <li class="active pr-2">
                    <a href="#">Home</a>
                  </li>
                  <li class="pr-2"><a href="about.html">About Us</a></li>
                  <li class="submenu dropdown pr-2">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Packages <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li><a href="package.html">Kasol Kheerganga Trek</a></li>
                      <li><a href="package1.html">Lahaul Atal Tunnel with River Rafting</a></li>
                      <li><a href="package2.html">Manali Solang Kasol Tosh </a></li>
                      <li><a href="package3.html">Manali Solang Kasol </a></li>
                      <li><a href="package4.html">Manali Jispa Kasol </a></li>
                      <li><a href="package5.html">Kedarnath Luxury</a></li>
                      <li><a href="package6.html">Tirthan Valley</a></li>
                    </ul>
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="destin#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Destination
                      <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="destination.html">Shimla</a>
                        </li>
                    <li>
                      <a href="destination.html">Taj Mahal</a>
                    </li>
                    <li>
                      <a href="destination.html">Goa Beaches </a>
                    </li>
                    <li>
                      <a href="destination.html">Jaipur</a>
                    </li>
                    <li>
                      <a href="destination.html">Leh-Ladakh</a>
                    </li>
                    <li>
                      <a href="destination.html">Darjeeling</a>
                    </li>
                    
              
                  </ul>
              
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="updates.html"
                  
                      >Updates </a>
                   
                  </li>
                
                  <li ><a href="contact.html">Contact Us</a></li>
                </ul>
                <!-- <a href="#" class="cart-icon d-flex align-items-center ml-1"><i class="icon-basket-loaded"></i><span class="cart-label">3</span></a> -->
              </div>
              <!-- /.navbar-collapse -->

              <div class="register-login">
                <a
                  href="#"
                  class="mr-2"
                  data-toggle="modal"
                  data-target="#register"
                  ><i class="icon-user mr-1"></i> Register</a
                >
                <a href="#" data-toggle="modal" data-target="#login"
                  ><i class="icon-login mr-1"></i> Login</a
                >
              </div>

              <div id="slicknav-mobile"></div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
      <!-- Navigation Bar Ends -->
    </header>
    <!-- header ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-2" style="background-image: url(static/images/bg/bg8.jpg);">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Dashboard -->
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard-sidebar">
                            <div class="profile-sec">
                                <div class="author-news mb-3">
                                    <div class="author-news-content text-center p-3">
                                        <div class="author-thumb mt-0">
                                            <img src="static/images/team/img1.jpg" alt="author">
                                        </div>
                                        <div class="author-content pt-2 p-0">
                                            <h3 class="mb-1 white"><a href="#" class="white">Admin Name</a></h3>
                                            <p class="detail"><i class="fa fa-map-marker"></i> Admin address</p>
                                            <p class="detail"><i class="fa fa-phone"></i> +91 90247 9851</p>
                                        
                                        </div>
                                    </div>
                                    <div class="dot-overlay"></div>
                                </div>
                            </div>
                            <!-- Responsive Navigation Trigger -->
                            <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>  
                            <div class="dashboard-nav">
                                <div class="dashboard-nav-inner">
                                    <ul>
                                      <li ><a href="dashboard-main.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                                      <li><a href="dashboard-booking-history.html"><i class="fa fa-list-ul"></i>Booking History</a></li>
                                      <li><a href="dashboard-package-enquiry.html"><i class="fa fa-list-ul"></i>Package Queries</a></li>
                                      <li><a href="dashboard-customer-enquiry.html"><i class="fa fa-list-ul"></i>Customer Queries</a></li>
                                      <li><a href="dashboard-user-details.html"><i class="fa fa-list-ul"></i>User Details</a></li>
                                      <!-- <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-user"></i> Profile</a></li>                     
                                      <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li> -->
                                      <!-- <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li> -->
                                      <li ><a href="dashboard-add-package.html"><i class="sl sl-icon-plus"></i> Add package</a></li>
                                      <li class="active"><a href="dashboard-add-destination.html"><i class="sl sl-icon-plus"></i> Add Destination</a></li>
                                      
                                      <li><a href="dashboard-login.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                        <div class="dashboard-content">
                            <div class="add-listing">   
                                <div class="listing-main">
                                    <div class="addlist-inner mb-3">
                                        <div class="addlist-title">
                                            <h4 class="m-0"><i class="fa fa-user pr-2"></i>Destiantion Information</h4>
                                        </div>
                                        <div class="addlist-content bg-white">
                                            <form action="/">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Destination Name</label>
                                                                <input type="text" class="" name="destination_name" placeholder="Enter your destination name here">
                                                               </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label>Destination Location</label>
                                                                <input type="text" class="" name="destination_location" placeholder="Enter destination location here">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label> Destination Description</label>
                                                                <textarea id="desc" name="destination_description" rows="8" class="" placeholder="Enter destination Description"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                
                                            
                                            
                                            
                                                <div class="col-lg-12 col-md-12 col-xs-12 mb-2">
                                                    <button type="button" class="nir-btn" onclick="addImageField()">Add More Destinaton Image</button>
                                                </div>
                                        
                                            <div class="row" id="image-container">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Destiantion Image 1</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="destination_image_1">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Destiantion Image 2</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="destination_image_2">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Destiantion Image 3</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="destination_image_3">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Destiantion Image 4</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="destination_image_4">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-sm-12 mt-2">
                                                <div class="form-group">
                                                  <input type="text" name="map_link" placeholder="Enter embed destination map link">
                                                </div>
                                              </div>
                                            
                                            <div class="col-lg-12 col-sm-12 mt-2">
                                                <div class="form-group">
                                                  <button type="submit" class="nir-btn w-100">
                                                     Add Destiantion
                                                  </button>
                                                </div>
                                              </div>
                                           
                                           <div> 

                                           
                                               
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    
                                    
                                    <!-- <div class="addlist-inner mb-3">
                                        <div class="addlist-title">
                                            <h4 class="m-0"><i class="fa fa-calendar-check pr-2"></i>Listing FAQs</h4>
                                        </div>
                                        <div class="addlist-content bg-white">
                                            <form action="/">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group m-0">
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col-lg-4 col-md-5 col-xs-12">
                                                                    <div class="input-box">
                                                                        <input type="text" class="" placeholder="Questions">
                                                                    </div> 
                                                                </div>
                                                                <div class="col-lg-4 col-md-5 col-xs-12">
                                                                    <div class="input-box">
                                                                        <input type="text" class="" placeholder="Answers">
                                                                    </div> 
                                                                </div>
                                                                <div class="col-lg-4 col-md-2 col-xs-12">
                                                                    <div class="listing-btn d-flex justify-content-between align-items-center text-right">
                                                                        <a href="#" class="nir-btn mr-2"><i class="fa fa-times"></i></a>
                                                                        <a href="#" class="nir-btn-black"><i class="fa fa-expand-arrows-alt"></i></a>
                                                                        <a href="#" class="nir-btn"><i class="fa fa-plus"></i> Add New</a>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                
            </div>    
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->

<!--end login section -->

{% endblock content %}

{% block js %}

    <!-- *Scripts* -->
    <script>
        var imageCounter = 4;
        function addImageField() {
            var imageContainer = document.getElementById('image-container');
            
            // Create a new image upload field
            var newImageField = document.createElement('div');
            newImageField.className = 'col-lg-6 col-md-6 col-xs-12';
            newImageField.innerHTML = `
                <div class="form-group mb-0">
                    <label>Destiantion Image ${imageCounter + 1}</label>
                    <div class="input-box">
                        <label class="upload-file mb-0">
                            <input type="file" name="destination_image_${imageCounter + 1}">
                            <i class="far fa-image"></i>
                            <span>Click here or drop file to upload</span>
                        </label>
                    </div>
                </div>
            `;

            // Increment the counter
        imageCounter++;
            
            // Append the new image field to the container
            imageContainer.appendChild(newImageField);
        }
    </script>
    {% endblock js %}