{% extends "base_admin.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
    {% comment %} <!-- header starts -->
    <header class="main_header_area headerstye-1">
        
      <!-- Navigation Bar -->
      <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
          <div class="container">
            <div
              class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2"
            >
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                  <img src="static/images/safarLogoWhite.png" height="60px" width="180px" alt="image" />
                <img src="static/images/safarLogo2.png" height="60px" width="180px" alt="image" />
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div
                class="navbar-collapse1 d-flex align-items-center"
                id="bs-example-navbar-collapse-1"
              >
                <ul class="nav navbar-nav" id="responsive-menu">
                  <li class="active pr-2">
                    <a href="#">Home</a>
                  </li>
                  <li class="pr-2"><a href="about.html">About Us</a></li>
                  <li class="submenu dropdown pr-2">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Packages <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li><a href="package.html">Kasol Kheerganga Trek</a></li>
                      <li><a href="package1.html">Lahaul Atal Tunnel with River Rafting</a></li>
                      <li><a href="package2.html">Manali Solang Kasol Tosh </a></li>
                      <li><a href="package3.html">Manali Solang Kasol </a></li>
                      <li><a href="package4.html">Manali Jispa Kasol </a></li>
                      <li><a href="package5.html">Kedarnath Luxury</a></li>
                      <li><a href="package6.html">Tirthan Valley</a></li>
                    </ul>
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="destin#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Destination
                      <i class="icon-arrow-down" aria-hidden="true"></i
                    ></a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="destination.html">Shimla</a>
                        </li>
                    <li>
                      <a href="destination.html">Taj Mahal</a>
                    </li>
                    <li>
                      <a href="destination.html">Goa Beaches </a>
                    </li>
                    <li>
                      <a href="destination.html">Jaipur</a>
                    </li>
                    <li>
                      <a href="destination.html">Leh-Ladakh</a>
                    </li>
                    <li>
                      <a href="destination.html">Darjeeling</a>
                    </li>
                    
              
                  </ul>
              
                  </li>

                  <li class="submenu dropdown pr-2">
                    <a
                      href="updates.html"
                  
                      >Updates </a>
                   
                  </li>
                
                  <li ><a href="contact.html">Contact Us</a></li>
                </ul>
                <!-- <a href="#" class="cart-icon d-flex align-items-center ml-1"><i class="icon-basket-loaded"></i><span class="cart-label">3</span></a> -->
              </div>
              <!-- /.navbar-collapse -->

              <div class="register-login">
                <a
                  href="#"
                  class="mr-2"
                  data-toggle="modal"
                  data-target="#register"
                  ><i class="icon-user mr-1"></i> Register</a
                >
                <a href="#" data-toggle="modal" data-target="#login"
                  ><i class="icon-login mr-1"></i> Login</a
                >
              </div>

              <div id="slicknav-mobile"></div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
      <!-- Navigation Bar Ends -->
    </header> {% endcomment %}
    <!-- header ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-2" style="background-image: url(static/images/bg/bg8.jpg);">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Dashboard -->
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    {% include "./side_section.html" %}
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                        <div class="dashboard-content">
                            {% comment %} <div class="row mb-4">
                                <div class="col-lg-12">
                                    <div class="notification success">
                                        <p class="m-0">Your listing Nelson Center Restro has been approved!</p>
                                        <a class="notification-close" href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="row">

                                <!-- Item -->
                                <div class="col-lg-4 col-md-12 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h4>{{total_queries}}</h4> <span>Queries</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
                                        {% comment %} <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div> {% endcomment %}
                                    </div>
                                </div>

                                <!-- Item -->
                                <div class="col-lg-4 col-md-6 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h4>{{total_booking}}</h4> <span>Bookings</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
                                        {% comment %} <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div> {% endcomment %}
                                    </div>
                                </div>


                                <!-- Item -->
                                <div class="col-lg-4 col-md-6 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h4>3</h4> <span>Testimonials</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
                                        {% comment %} <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mb-4">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">Country Campaigns</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Country</th>
                                                        <th>Client</th>
                                                        <th>Changes</th>
                                                        <th>Budget</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="">Australia</span>
                                                        </td>
                                                        <td>Beavis</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>2.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">$1478</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">Active</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Cuba</span>
                                                        </td>
                                                        <td>Felix</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>1.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">$951</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-danger">Closed</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">France</span>
                                                        </td>
                                                        <td>Cannibus</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>8.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">$632</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-primary">Hold</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Norway</span>
                                                        </td>
                                                        <td>Neosoft</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>7.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">$325</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-primary">Hold</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">South Africa</span>
                                                        </td>
                                                        <td>Hencework</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>9.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span>$258</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">Active</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div> -->

                           

                            <div class="row mb-4">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">Latest Bookings</h4>
                                            <p class="mb-0"></p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                      <th>#ID</th>
                                                      <th>Package name</th>
                                                      <th>User name</th>
                                                      <th>Phone no</th>
                                                      <th>Confirm Status</th>
                                                      <th>Contact DateTime</th>
                                                      {% comment %} <th>Action</th> {% endcomment %}
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    {% for booking in bookings %}
                                                    <tr>
                                                      <td>{{forloop.counter}}</td>
                                                      <td>{{booking.package.name}}</td>
                                                      <td>{{booking.name}}</td>
                                                      <td>{{booking.phone}}</td>
                                                      <td><span class="badge bg-{% if booking.status == "pending" %}warning{% else %}success{% endif %}">{{booking.status}}</span></td>
                                                      <td>{{booking.created_at}}</td>
                                                      {% comment %} <td>
                                                        <a class="edit" title="Edit" data-toggle="tooltip" href="{% url "admin-booking-update" booking.pk %}"><i class="icon-pencil pr-2"></i></a>
                                                        <a class="delete" title="Delete" data-toggle="tooltip" href="#"><i class="icon-trash pr-2"></i></a>
                                                      </td> {% endcomment %}
                                                    </tr>
                                                    {% endfor %}
                                                  </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">      
                                
                                <!-- <div class="col-lg-5 col-md-12 col-xs-12 traffic">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">Social Media</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Media</th>
                                                        <th>Name</th>
                                                        <th>Share</th>
                                                        <th>Like</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fab fa-facebook"></i></td>
                                                        <td><span>Linked In perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-twitter"></i></td>
                                                        <td><span>Twitter perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-facebook"></i></td>
                                                        <td><span>Facebook perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-google"></i></td>
                                                        <td><span>Google perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-youtube"></i></td>
                                                        <td><span>YouTube perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-whatsapp"></i></td>
                                                        <td><span>WhatsApp perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-twitter"></i></td>
                                                        <td><span>Twitter perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-youtube"></i></td>
                                                        <td><span>YouTube perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->

<!--end login section -->

{% endblock content %}


