{% extends "base_admin.html" %}
{% load static %}
{% block title %}Packages{% endblock title %}
{% block content %}

<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-2" style="background-image: url(static/images/bg/bg8.jpg);">
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<!-- Dashboard -->
<div id="dashboard" class="pt-10 pb-10">
    <div class="container">
        <div class="dashboard-main">
            <div class="row">
                {% include "./side_section.html" %}
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-content">
                        <div class="add-listing">
                            <div class="listing-main">
                                <div class="addlist-inner mb-3">
                                    <div class="addlist-title">
                                        <h4 class="m-0"><i class="fa fa-user pr-2"></i>Package Information</h4>
                                    </div>
                                    <div class="addlist-content bg-white">
                                        <form action="/">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label class="form-label">Package Name</label>
                                                            <input type="text" class="" name="package_name"
                                                                placeholder="Enter your package name here">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label>Package Location</label>
                                                            <input type="text" class="" name="package_location"
                                                                placeholder="Enter Package location here">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label>Description</label>
                                                            <textarea id="desc" name="package_description" rows="8"
                                                                class=""
                                                                placeholder="Enter Package Description"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>No of package day</label>
                                                        <div class="input-box">
                                                            <input type="number" name="package_days" class=""
                                                                placeholder="Enter package day(1,2)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>No of package night</label>
                                                        <div class="input-box">
                                                            <input type="number" name="package_night" class=""
                                                                placeholder="Enter package night(1,2)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label>Pickup Location</label>
                                                            <input type="text" name="package_pickup_location" class=""
                                                                placeholder="Enter Pickup location">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label>Dropof Location</label>
                                                            <input type="text" name="package_dropof_location" class=""
                                                                placeholder="Enter dropof location">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Package Inventory</label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <button type="button" class="nir-btn mb-2" onclick="addDay()">Add
                                                        Another Day</button>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-xs-12" id="days-container">
                                                    <div class="form-group">
                                                        <div class="input-box">
                                                            <label>Day 1</label>
                                                            <input type="text" name="package_day_1" class=""
                                                                placeholder="Enter Activities of day 1">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <label>Package Costing(Room sharing /price per person)</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <div class="form-group">
                                                    <div class="input-box">
                                                        <label>Quad Sharing</label>
                                                        <input type="text" name="package_price_quad_sharing" class=""
                                                            placeholder="Enter quad sharing price">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <div class="form-group">
                                                    <div class="input-box">
                                                        <label>Triple sharing</label>
                                                        <input type="text" name="package_price_triple_sharing" class=""
                                                            placeholder="Enter triple sharing price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <div class="form-group">
                                                    <div class="input-box">
                                                        <label>Double Sharing</label>
                                                        <input type="text" name="package_price_double_sharing" class=""
                                                            placeholder="Enter double sharing price">
                                                    </div>

                                                </div>
                                            </div>



                                            <div class="col-lg-12 col-md-12 col-xs-12 mb-2">
                                                <button type="button" class="nir-btn" onclick="addImageField()">Add More
                                                    Package Image</button>
                                            </div>

                                            <div class="row" id="image-container">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Package Image 1</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="package_image_1">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Package Image 2</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="package_image_2">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Package Image 3</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="package_image_3">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group mb-0">
                                                        <label>Package Image 4</label>
                                                        <div class="input-box">
                                                            <label class="upload-file mb-0">
                                                                <input type="file" name="package_image_4">
                                                                <i class="far fa-image"></i>
                                                                <span>Click here or drop file to upload</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12 mt-2">
                                                <div class="form-group">
                                                    <button type="submit" class="nir-btn w-100">
                                                        Add Package
                                                    </button>
                                                </div>
                                            </div>

                                    </div>
                                    </form>
                                </div>
                            </div>



                            <!-- <div class="addlist-inner mb-3">
                                        <div class="addlist-title">
                                            <h4 class="m-0"><i class="fa fa-calendar-check pr-2"></i>Listing FAQs</h4>
                                        </div>
                                        <div class="addlist-content bg-white">
                                            <form action="/">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group m-0">
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col-lg-4 col-md-5 col-xs-12">
                                                                    <div class="input-box">
                                                                        <input type="text" class="" placeholder="Questions">
                                                                    </div> 
                                                                </div>
                                                                <div class="col-lg-4 col-md-5 col-xs-12">
                                                                    <div class="input-box">
                                                                        <input type="text" class="" placeholder="Answers">
                                                                    </div> 
                                                                </div>
                                                                <div class="col-lg-4 col-md-2 col-xs-12">
                                                                    <div class="listing-btn d-flex justify-content-between align-items-center text-right">
                                                                        <a href="#" class="nir-btn mr-2"><i class="fa fa-times"></i></a>
                                                                        <a href="#" class="nir-btn-black"><i class="fa fa-expand-arrows-alt"></i></a>
                                                                        <a href="#" class="nir-btn"><i class="fa fa-plus"></i> Add New</a>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->


                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Content / End -->
    </div>
</div>
<!-- Dashboard / End -->

<!--end login section -->

{% endblock content %}

{% block js %}

<!-- *Scripts* -->
<script>
    var imageCounter = 4;
    function addImageField() {
        var imageContainer = document.getElementById('image-container');

        // Create a new image upload field
        var newImageField = document.createElement('div');
        newImageField.className = 'col-lg-6 col-md-6 col-xs-12';
        newImageField.innerHTML = `
            <div class="form-group mb-0">
                <label>Package Image ${imageCounter + 1}</label>
                <div class="input-box">
                    <label class="upload-file mb-0">
                        <input type="file" name="package_image${imageCounter + 1}">
                        <i class="far fa-image"></i>
                        <span>Click here or drop file to upload</span>
                    </label>
                </div>
            </div>`;

        // Increment the counter
        imageCounter++;

        // Append the new image field to the container
        imageContainer.appendChild(newImageField);
    }

    var dayCounter = 1;

    function addDay() {
        var daysContainer = document.getElementById('days-container');

        // Create a new day input field
        var newDayField = document.createElement('div');
        newDayField.className = 'col-lg-12 col-md-12 col-xs-12';
        newDayField.innerHTML = `
            <div class="form-group">
                <div class="input-box">
                    <label>Day ${dayCounter + 1}</label>
                    <input type="text" name="package_day_${dayCounter + 1}" class="" placeholder="Enter Activities of day ${dayCounter + 1}">
                </div>
            </div>
        `;

        // Increment the counter
        dayCounter++;

        // Append the new day field to the container
        daysContainer.appendChild(newDayField);
    }
</script>


{% endblock js %}