{% extends "base.html" %}
{% block title %}FAQ SufferCapture{% endblock title %}

{% block content %}

<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(static/images/bg/bg7.jpg);">
  <div class="breadcrumb-outer pt-18">
    <div class="container">
      <div class="breadcrumb-content d-md-flex align-items-center pt-10">
        <h2 class="pb-2">FAQ</h2>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->


<!-- About detail Start -->
<section class="faq-main pb-6">
  <div class="container">
    <div class="faq-accordian">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
            <div class="accrodion active">
              <div class="accrodion-title">
                <h5>How do I book a vacation package or hotel on your website?

                </h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>Wanna know our Special Features?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h5>What is your cancellation policy?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>Why choose us?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>Are there any travel restrictions or entry requirements for my destination?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
            <div class="accrodion">
              <div class="accrodion-title">
                <h5>What amenities are included in the accommodation?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>Is travel insurance available, and how does it work?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h5>Do you have any discounts or loyalty programs for frequent travelers?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>What amenities are included in the accommodation?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion ">
              <div class="accrodion-title">
                <h5>What amenities are included in the accommodation?</h5>
              </div>
              <div class="accrodion-content" style="display: block;">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam,
                    praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                </div><!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About detail Ends -->

<!-- Call To Action Starts -->
<!-- <section class="call-to-action pb-10 bg-navy">
  <div class="container">
    <div class="section-title section-title-w text-center w-75 mx-auto mb-5 pb-2">
      <h2 class="mb-2 white">Do You Have Any <span>Questions?</span></h2>
      <p class="mb-0 white">As opposed to using 'Content here, content here', making it look like readable English. Many
        desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search
        for 'lorem ipsum'</p>
    </div>
    <div class="reservation-main w-75 mx-auto pl-5 pr-5">
      <form method="post" action="#" class="">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="white">First Name</label>
              <input type="text" id="full-name">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="white">Last Name</label>
              <input type="text" id="full-name">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="white">Email</label>
              <input type="text" id="full-name">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="white">Phone No.</label>
              <input type="text" id="phone-no">
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="white">Ask Your Question?</label>
              <textarea name="message"></textarea>
            </div>
          </div>
        </div>

        <div class="comment-btn text-center">
          <input type="submit" class="nir-btn" id="submit" value="Send Message">
        </div>
      </form>
    </div>
  </div>
  <div></div>
</section> -->
<!-- Call To Action Ends -->

<!-- content-line start -->
<div class="content-line bg-white pb-6 pt-6">
  <div class="container">
    <div class="content-line-inner">
      <div class="row d-md-flex align-items-center justify-content-between">
        <div class="col-lg-9 col-md-9">
          <p class="mb-0 navy h4">
            It’s Time For a New Adventure! Don’t Wait Any Longer. Contact us!
          </p>
        </div>
        <div class="col-lg-3 col-md-3">
          <a href="{{ url_for('main.contact') }}#contact-form1" class="nir-btn">Contact Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-line ends -->

{% endblock content %}
<!-- *Scripts* -->
{% block js %}
<script src="{{ url_for('static', filename='js/custom-accordian.js') }}"></script>
{% endblock js %}